# Python env
venv/

# IntelliJ IDEA specific files
.idea/
*.iml

# Build artifacts
build/
dist/
*.egg-info/

# Ignore binaries
*.exe
*.dll

# CNN model
models/*.keras

#Frontend dependencies
/frontend/node_modules
